<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949217339794-gs0ei22efg0nievtsnghtgeeee0n8vn9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949217339794-gs0ei22efg0nievtsnghtgeeee0n8vn9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>949217339794-2madirbekkjlivfs3237i26guquegv3s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBrgf2htm72yz5h5eNrwhKr_qj9_vKkLtw</string>
	<key>GCM_SENDER_ID</key>
	<string>949217339794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.geex.arts.flares</string>
	<key>PROJECT_ID</key>
	<string>eday-7c14d</string>
	<key>STORAGE_BUCKET</key>
	<string>eday-7c14d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949217339794:ios:e3abcddd3e01992c4ef94b</string>
</dict>
</plist>